@layout MainLayout

@page "/CertificateOfIrradiationDetails/{SONo}"

<MacroBreadcrumbs Breadcrumbs=Breadcrumbs></MacroBreadcrumbs>

<MacroBody>
	<div class="card-body">
		<div class="row row-cols-1">
			<div class="col-12 col-lg-12">
				@*<a type="button" id="btn-save" onclick="history.back()" class="btn btn-danger m-1">Back</a>*@
				<a type="button" id="btn-save" href="/CertificateOfIrradiationApproval" class="btn btn-danger m-1">Back</a>
				@*<button type="button" class="btn btn-primary float-end" id="btn-print">Print</button>*@
			</div>
		</div>
	</div>
	<form id="wizard-validation-form" onSubmit="return false">
		<div class="card-body">
			<div class="row row-cols-2">
				<div class="col">
					<div class="card-body">
						<div class="row row-cols-1">
							<MacroInput DefaultValue="@model.QCOrderDetails.QCOrderNo" Title="QC Order No." InputName="QC Order No" IsReadOnly=true IsSelectable=false ValueChanged="SelectInput"></MacroInput>
							<MacroInput DefaultValue="@model.QCOrderDetails.InspectionPlan" Title="Inspection Plan Code / Name" InputName="Inspection Plan" IsReadOnly=true ValueChanged="SelectInput"></MacroInput>
							<MacroInput DefaultValue="@model.QCOrderDetails.Customer" Title="Customer Code / Name" InputName="Customer" IsReadOnly=true ValueChanged="SelectInput"></MacroInput>
							<MacroInput DefaultValue="@model.QCOrderDetails.Item" Title="Item Code / Name" InputName="Item" IsReadOnly=true ValueChanged="SelectInput"></MacroInput>
							<div class="col">
								<div class="row row-cols-2">
									<div class="col">
										<label for="txt-status" class="form-label">Reference No</label>
										<div class="input-group mb-3">
											<input readonly type="text" class="form-control" name="txt-refno" id="txt-refno" aria-describedby="refno" placeholder="Reference No" @bind="@model.QCOrderDetails.RefNo">
										</div>
									</div>
									@*<MacroInput DefaultValue="@model.QCOrderDetails.RefNo" InputName="Reference No" ValueChanged="SelectInput"></MacroInput>*@
									<div class="col">
										<label for="txt-status" class="form-label">Status</label>
										<div class="input-group mb-3">
											<input readonly type="text" class="form-control" style="color: @(model.QCOrderDetails.Status == "" ? "black" : "white"); background-color: @(model.QCOrderDetails.Status == "Passed" ? "#71DD37" : model.QCOrderDetails.Status == "Failed" ? "#FF3E1D" : "");" name="txt-status" id="txt-status" aria-describedby="status" placeholder="Status" @bind="@model.QCOrderDetails.Status">
										</div>
									</div>
								</div>
							</div>
							<div class="col">
								<label>Remarks</label>
								<div class="input-group mb-3">
									<textarea readonly style="height:22.950px" class="form-control" @bind="@model.QCOrderDetails.Remarks"></textarea>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col">
					<div class="card-body">
						<div class="row row-cols-2">
							<div class="col">
								<label>SO No.</label>
								<div class="input-group mb-3">
									<input readonly type="text" id="txt-header-doc-no" class="form-control" @bind="@model.QCOrderDetails.DocNo" />
								</div>
							</div>
							<MacroInput DefaultValue="@model.QCOrderDetails.DocDate" InputName="Irradiation Date" IsReadOnly=true ValueChanged="SelectInput"></MacroInput>
							<MacroInput DefaultValue="@model.QCOrderDetails.DocDate" InputName="Document Date" IsReadOnly=true ValueChanged="SelectInput"></MacroInput>
@* 							<MacroInput DefaultValue="@model.QCOrderDetails.PONo" InputName="PO No" IsReadOnly=true ValueChanged="SelectInput"></MacroInput>
							<MacroInput DefaultValue="@model.QCOrderDetails.ManufacturingLotNo" IsReadOnly=true InputName="Manufacturing Lot No" ValueChanged="SelectInput"></MacroInput>
							<MacroInput DefaultValue="@model.QCOrderDetails.ServiceOrderNo" IsReadOnly=true InputName="Service Order No" ValueChanged="SelectInput"></MacroInput> *@
							<MacroInput DefaultValue="@model.QCOrderDetails.StorageConditions" IsReadOnly=true InputName="Storage Conditions" ValueChanged="SelectInput"></MacroInput>
							<div class="col">
								<label>Document Type</label>
								<div class="input-group mb-3">
									<input readonly type="text" id="txt-header-doc-no" class="form-control" @bind="@model.QCOrderDetails.DocType" />
								</div>
							</div>
							<div class="col">
								<label>Inspection Plan Type</label>
								<div class="input-group mb-3">
									<select disabled class="form-control" name="select-plan-type-header" id="select-plan-type-header" value="@model.QCOrderDetails.InspectionPlanType">
										<option>QA/QC Receiving Inspection Plan</option>
										<option>Dosimetry Quality Control Order</option>
										<option>Others</option>
									</select>
								</div>
							</div>
							<MacroInput DefaultValue="@model.QCOrderDetails.Quantity" InputName="SO Quantity" IsReadOnly=true ValueChanged="SelectInput"></MacroInput>
							<MacroInput DefaultValue="@model.QCOrderDetails.UoM" InputName="UoM" IsReadOnly=true ValueChanged="SelectInput"></MacroInput>
							<div class="col">
								<label>Sample Size</label>
								<div class="input-group mb-3">
									<input readonly type="text" id="txt-header-sample-size" class="form-control" @bind="@model.QCOrderDetails.SampleSize" />
								</div>
							</div>
							<MacroInput DefaultValue="@model.QCOrderDetails.DosimetryUsed" InputName="Dosimetry Used" IsReadOnly=true ValueChanged="SelectInput"></MacroInput>						

						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col">
			<div class="divider mb-0">
				<div class="divider-text">SAMPLES</div>
			</div>
		</div>

		<div class="card-body">
			<div class="row row-cols-1">
				<div class="bs-stepper wizard-vertical mt-2">
					<div class="bs-stepper-header">
						<div class="step active" data-target="#parameter-sample">
							<button type="button" class="step-trigger">
								<span class="bs-stepper-circle">1</span>
								<span class="bs-stepper-label mt-1">
									<span class="bs-stepper-title">Samples</span>
									<span class="bs-stepper-subtitle">See Samples QC Status</span>
								</span>
							</button>
						</div>
						<div class="line">
							<i class="bx bx-chevron-right"></i>
						</div>
						<div class="step" data-target="#parameter-sample-list">
							<button type="button" class="step-trigger">
								<span class="bs-stepper-circle">2</span>
								<span class="bs-stepper-label mt-1">
									<span class="bs-stepper-title">Sample List</span>
									<span class="bs-stepper-subtitle">See Sampling Details</span>
								</span>
							</button>
						</div>
						<div class="line">
							<i class="bx bx-chevron-right"></i>
						</div>
						<div class="step" data-target="#parameter-details">
							<button type="button" class="step-trigger">
								<span class="bs-stepper-circle">3</span>
								<span class="bs-stepper-label mt-1">
									<span class="bs-stepper-title">Parameter Details</span>
									<span class="bs-stepper-subtitle">Input Parameter Values</span>
								</span>
							</button>
						</div>
					</div>
					<div class="bs-stepper-content">
						<div id="parameter-sample" class="content active">
							<div class="content-header mb-3">
								<h4 class="mb-0">Samples</h4>
							</div>
							<div class="row g-3">
								<div class="card-body">
									<div class="row row-cols-4">
										<div class="col">
											<label>Open</label>
											<div class="input-group mb-3">
												<input readonly type="text" id="txt-header-sample-size" class="form-control" @bind="@model.QCOrderDetails.SampleDetails.Open" />
											</div>
										</div>
										<div class="col">
											<label>Total No. of Passed</label>
											<div class="input-group mb-3">
												<input readonly type="text" id="txt-header-sample-size" class="form-control" @bind="@model.QCOrderDetails.SampleDetails.TotalNoOfPassed" />
											</div>
										</div>
										<div class="col">
											<label>Total No. of Failed</label>
											<div class="input-group mb-3">
												<input readonly type="text" id="txt-header-sample-size" class="form-control" @bind="@model.QCOrderDetails.SampleDetails.TotalNoOfFailed" />
											</div>
										</div>
										<div class="col">
											<label>Sample Size</label>
											<div class="input-group mb-3">
												<input readonly type="text" id="txt-header-sample-size" class="form-control" @bind="@model.QCOrderDetails.SampleDetails.TotalNoSamples" />
											</div>
										</div>
									</div>
								</div>
								<div class="col-12 d-flex justify-content-between">
									<button class="btn btn-label-secondary btn-prev" disabled>
										<i class="bx bx-chevron-left bx-sm ms-sm-n2"></i>
										<span class="align-middle d-sm-inline-block d-none">Previous</span>
									</button>
									<button class="btn btn-primary btn-next btn-next-samples">
										<span class="align-middle d-sm-inline-block d-none me-sm-1">Next</span>
										<i class="bx bx-chevron-right bx-sm me-sm-n2"></i>
									</button>
								</div>
							</div>
						</div>
						<div id="parameter-sample-list" class="content">
							<div class="content-header mb-3">
								<h4 class="mb-0">Sample List</h4>
							</div>
							<div class="row g-3">
								<RadzenDataGrid AllowFiltering="false" AllowColumnResize="false" AllowAlternatingRows="false" FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="5" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
												Data=model.QCOrderDetails.SampleDetails.SampleDetailList TItem="CertificateOfIrradiationViewModel.SampleDetail" LogicalFilterOperator="LogicalFilterOperator.Or"
												CellRender="@CellRenderSampleList">
									<EmptyTemplate>
										<p style="color: lightgrey; font-size: 24px; text-align: center; margin: 2rem;">No records to display.</p>
									</EmptyTemplate>
									<Columns>
										<RadzenDataGridColumn TItem="CertificateOfIrradiationViewModel.SampleDetail" Property="SampleNo" Title="Sample No." Width="170px" TextAlign="TextAlign.Center" />
										<RadzenDataGridColumn TItem="CertificateOfIrradiationViewModel.SampleDetail" Title="Status" Width="150px" TextAlign="TextAlign.Center">
											<Template Context="data">
												@if (data.Status == "Failed")
												{
													<span style='color: white;'>@data.Status</span>
												}
												else if (data.Status == "Passed")
												{
													<span style='color: white;'>@data.Status</span>
												}
												else
												{
													<span style='color: black;'>@data.Status</span>
												}
											</Template>
										</RadzenDataGridColumn>
										<RadzenDataGridColumn TItem="CertificateOfIrradiationViewModel.SampleDetail" Property="NoOfPassed" Title="No of Passed" Width="170px" />
										<RadzenDataGridColumn TItem="CertificateOfIrradiationViewModel.SampleDetail" Property="NoOfFailed" Title="No of Failed" Width="150px" />
										<RadzenDataGridColumn TItem="CertificateOfIrradiationViewModel.SampleDetail" Property="QABy" Title="QA By" Width="120px" />
										<RadzenDataGridColumn TItem="CertificateOfIrradiationViewModel.SampleDetail" Property="ApprovedBy" Title="Approved By" Width="160px" />
										<RadzenDataGridColumn TItem="CertificateOfIrradiationViewModel.SampleDetail" Title="Action" Sortable="false" Filterable="false" Width="100px" TextAlign="TextAlign.Center">
											<Template Context="data">
												<RadzenButton Click="@((args) => SelectSampleDetail(data.SampleNo))" ButtonStyle="ButtonStyle.Success"><i class="fa fa-eye"></i></RadzenButton>
											</Template>
										</RadzenDataGridColumn>
									</Columns>
								</RadzenDataGrid>
								<div class="col-12 d-flex justify-content-between">
									<button class="btn btn-label-secondary btn-prev">
										<i class="bx bx-chevron-left bx-sm ms-sm-n2"></i>
										<span class="align-middle d-sm-inline-block d-none">Previous</span>
									</button>
									<button class="btn btn-primary btn-next" disabled>
										<span class="align-middle d-sm-inline-block d-none me-sm-1">Next</span>
										<i class="bx bx-chevron-right bx-sm me-sm-n2"></i>
									</button>
								</div>
							</div>
						</div>
						<div id="parameter-details" class="content">
							<div class="content-header mb-3">
								<h4 class="mb-0">Parameter Details (Sample No. @sampleNo)</h4>
							</div>
							<div class="row g-3">
								<RadzenDataGrid AllowFiltering="true" AllowColumnResize="false" AllowAlternatingRows="false" FilterMode="FilterMode.Advanced"
												AllowSorting="true" PageSize="5" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
												Data="model.ParameterList.Where(x => x.Visible == true)" TItem="CertificateOfIrradiationViewModel.ParameterDetail" LogicalFilterOperator="LogicalFilterOperator.Or"
												CellRender="@CellRender">
									<EmptyTemplate>
										<p style="color: lightgrey; font-size: 24px; text-align: center; margin: 2rem;">No records to display.</p>
									</EmptyTemplate>
									<Columns>
										<RadzenDataGridColumn TItem="CertificateOfIrradiationViewModel.ParameterDetail" Property="ParameterNo" Title="Parameter No." Width="160px" TextAlign="TextAlign.Center" />
										<RadzenDataGridColumn TItem="CertificateOfIrradiationViewModel.ParameterDetail" Property="Parameter" Title="Parameter" Width="160px" />
										<RadzenDataGridColumn TItem="CertificateOfIrradiationViewModel.ParameterDetail" Property="ParameterType" Title="Parameter Type" Width="200px" />
										<RadzenDataGridColumn TItem="CertificateOfIrradiationViewModel.ParameterDetail" Property="UoM" Title="UoM" Width="160px" />
										<RadzenDataGridColumn Visible="false" TItem="CertificateOfIrradiationViewModel.ParameterDetail" Property="Weight" Title="Parameter Weight" Width="160px" />
										<RadzenDataGridColumn Visible="false" TItem="CertificateOfIrradiationViewModel.ParameterDetail" Property="MinValue" Title="MinValue" Width="160px" />
										<RadzenDataGridColumn Visible="false" TItem="CertificateOfIrradiationViewModel.ParameterDetail" Property="MaxValue" Title="MaxValue" Width="160px" />
										<RadzenDataGridColumn Visible="false" TItem="CertificateOfIrradiationViewModel.ParameterDetail" Property="TargetValue" Title="TargetValue" Width="160px" />
										<RadzenDataGridColumn TItem="CertificateOfIrradiationViewModel.ParameterDetail" Title="ActualValue" Width="160px">
											<Template Context="data">
												@if (data.ParameterType == "Quantitative")
												{
													<input readonly class="form-control form-control row-actual" type="number" name="Actual" min="0" @bind=data.ActualValue>
												}
												else if (data.ParameterType == "Qualitative")
												{
													if (data.TargetValue == "Yes" || data.TargetValue == "No")
													{
														data.ActualValue = data.ActualValue == "" ? "Yes" : data.ActualValue;
														<select disabled id="slc-target-value" class="form-control row-actual" @bind=data.ActualValue>
															<option selected>Yes</option>
															<option>No</option>
														</select>
													}
													else if (data.TargetValue == "Passed" || data.TargetValue == "Failed")
													{
														data.ActualValue = data.ActualValue == "" ? "Passed" : data.ActualValue;
														<select disabled id="slc-target-value" class="form-control row-actual" @bind=data.ActualValue>
															<option selected>Passed</option>
															<option>Failed</option>
														</select>
													}
												}
											</Template>
										</RadzenDataGridColumn>
										<RadzenDataGridColumn TItem="CertificateOfIrradiationViewModel.ParameterDetail" Title="Result" Width="160px" TextAlign="TextAlign.Center">
											<Template Context="data">
												@if (data.Result == "Failed")
												{
													<span style='color: white;'>@data.Result</span>
												}
												else if (data.Result == "Passed")
												{
													<span style='color: white;'>@data.Result</span>
												}
												else
												{
													<span style='color: black;'>@data.Result</span>
												}
											</Template>
										</RadzenDataGridColumn>
										<RadzenDataGridColumn TItem="CertificateOfIrradiationViewModel.ParameterDetail" Title="Remarks" Sortable="true" Filterable="false" Width="220px">
											<Template Context="data">
												<textarea readonly style="height:22.950px" class="form-control" @bind=data.Remarks></textarea>
											</Template>
										</RadzenDataGridColumn>
									</Columns>
								</RadzenDataGrid>
								<div class="col-12 d-flex justify-content-between">
									<button class="btn btn-label-secondary btn-prev">
										<i class="bx bx-chevron-left bx-sm ms-sm-n2"></i>
										<span class="align-middle d-sm-inline-block d-none">Previous</span>
									</button>
									@*									<button class="btn btn-success btn-submit">
									<span class="align-middle d-sm-inline-block d-none me-sm-1">Save Parameters</span>
									</button>*@
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		@if (model.QCOrderDetails.InspectionPlanType == "Dosimetry Quality Control Order")
		{
			<div class="col">
				<div class="divider mb-0">
					<div class="divider-text">DOSIMETRY REPORT</div>
				</div>
			</div>

			<div class="card-body">
				<div class="row row-cols-2">
					<MacroInput IsReadOnly=true DefaultValue="@model.QCOrderDetails.DosimetryReport.EBOperationLog" InputName="EB Operation Log" ValueChanged="SelectInput"></MacroInput>
					<div class="col">
						<label for="txt-status" class="form-label">Total Products Before Irradiation</label>
						<div class="input-group mb-3">
							<input readonly type="number" min="0" class="form-control" name="txt-total-products-before-irradiation" id="txt-total-products-before-irradiation" aria-describedby="txt-total-products-before-irradiation" placeholder="Total Products Before Irradiation" @bind="@model.QCOrderDetails.DosimetryReport.TotalProductsBeforeIrradiation">
						</div>
					</div>
					<MacroInput IsReadOnly=true DefaultValue="@model.QCOrderDetails.DosimetryReport.NCReport" InputName="NC Report" ValueChanged="SelectInput"></MacroInput>
					<div class="col">
						<label for="txt-status" class="form-label">Total Products After Irradiation</label>
						<div class="input-group mb-3">
							<input readonly type="number" min="0" class="form-control" name="txt-total-products-after-irradiation" id="txt-total-products-after-irradiation" aria-describedby="txt-total-products-after-irradiation" placeholder="Total Products After Irradiation" @bind="@model.QCOrderDetails.DosimetryReport.TotalProductsAfterIrradiation">
						</div>
					</div>
					<div class="col">
						<label for="txt-status" class="form-label">Dosimetry Report No</label>
						<div class="input-group mb-3">
							<input type="text" class="form-control" name="txt-dosimetry-report-no" id="txt-dosimetry-report-no" aria-describedby="txt-dosimetry-report-no" placeholder="Dosimetry Report No" @bind="@model.QCOrderDetails.DosimetryReport.DosimetryReportNo">
						</div>
					</div>
					@*					<div class="col">
				<label for="txt-status" class="form-label">Actual Energy, MeV</label>
				<div class="input-group mb-3">
				<input readonly type="number" min="0" class="form-control" name="txt-actual-energy" id="txt-actual-energy" aria-describedby="actual-energy" placeholder="Actual Energy" @bind="@model.QCOrderDetails.DosimetryReport.ActualEnergy">
				</div>
				</div>*@
					@*					<div class="col">
				<label for="txt-status" class="form-label">Actual Power, kW</label>
				<div class="input-group mb-3">
				<input readonly type="number" min="0" class="form-control" name="txt-actual-power" id="txt-actual-power" aria-describedby="actual-power" placeholder="Actual Power" @bind="@model.QCOrderDetails.DosimetryReport.ActualPower">
				</div>
				</div>*@
					@*					<div class="col">
				<label for="txt-status" class="form-label">Actual Frequency, Hz</label>
				<div class="input-group mb-3">
				<input readonly type="number" min="0" class="form-control" name="txt-actual-frequency" id="txt-actual-frequency" aria-describedby="actual-frequency" placeholder="Actual Frequency" @bind="@model.QCOrderDetails.DosimetryReport.ActualFrequency">
				</div>
				</div>*@
					@*					<div class="col">
				<label>Dosimetry Remarks</label>
				<div class="input-group mb-3">
				<textarea readonly style="height:22.950px" class="form-control" id="txt-dosimetry-remarks" @bind="@model.QCOrderDetails.DosimetryReport.Remarks"></textarea>
				</div>
				</div>*@
				</div>
			</div>
		}

		<div class="col">
			<div class="divider mb-0">
				<div class="divider-text">APPROVAL DETAILS</div>
			</div>
		</div>

		<MacroContainer Columns="2">
			<div class="col">
				<label for="txt-status" class="form-label">QA/QC Requester</label>
				<div class="input-group mb-3">
					<input readonly value="@model.COISalesOrder.QCRequester" type="text" min="0" class="form-control" name="txt-actual-energy" id="txt-actual-energy" aria-describedby="actual-energy">
				</div>
			</div>
			<div class="col">
				<label for="txt-status" class="form-label">Approval Request Date</label>
				<div class="input-group mb-3">
					<input readonly value="@model.COISalesOrder.RequestDate.ToString("MM-dd-yyyy")" type="text" min="0" class="form-control" name="txt-total-products-before-irradiation" id="txt-total-products-before-irradiation" aria-describedby="txt-total-products-before-irradiation">
				</div>
			</div>
			<div class="col">
				<label for="txt-status" class="form-label">QA/QC Remarks</label>
				<div class="input-group mb-3">
					<input readonly value="@model.COISalesOrder.QCRemarks" type="text" min="0" class="form-control" name="txt-actual-power" id="txt-actual-power" aria-describedby="actual-power">
				</div>
			</div>
			<div class="col">
				<label for="txt-status" class="form-label">Certificate of Irradiation Number</label>
				<div class="input-group mb-3">
					<input readonly value="@model.COISalesOrder.CertificateOfIrradiationNumber" type="text" min="0" class="form-control" name="txt-total-products-after-irradiation" id="txt-total-products-after-irradiation" aria-describedby="txt-total-products-after-irradiation">
				</div>
			</div>
			<div class="col">
				<label for="txt-status" class="form-label">Layout</label>
				<div class="input-group mb-3">
					<input readonly value="@model.COISalesOrder.Layout" type="text" min="0" class="form-control" name="txt-actual-frequency" id="txt-actual-frequency" aria-describedby="actual-frequency">
				</div>
			</div>
			<div class="col">
				<label>Approver Remarks</label>
				<div class="input-group mb-3">
					@if (model.COISalesOrder.Status == "For Approval")
					{
						<textarea style="height:22.950px" class="form-control" id="txt-dosimetry-remarks" @bind="@model.COISalesOrder.ApproverRemarks"></textarea>
					}
					else
					{
						<textarea readonly style="height:22.950px" class="form-control" id="txt-dosimetry-remarks" @bind="@model.COISalesOrder.ApproverRemarks"></textarea>
					}
				</div>
			</div>
		</MacroContainer>

		<div class="col">
			<div class="divider mb-0">
				<div class="divider-text"></div>
			</div>
		</div>

		<div class="card-body pt-0 pb-2">
			<div class="mb-3">
				@*<button type="button" id="btn-save" class="btn btn-primary float-end m-1" @onclick="(args) => SaveQCOrder()">Save</button>*@
				@if (model.COISalesOrder.Status == "For Approval")
				{
					<button type="button" id="btn-reject" @onclick='() => UpdateCOI("Rejected")' class="btn btn-danger float-end m-1">Reject</button>
					<button type="button" id="btn-approve" @onclick='() => UpdateCOI("Approved")' class="btn btn-primary float-end m-1">Approve</button>
				}
				@if (model.COISalesOrder.Status == "For Approval")
				{
					<button type="button" id="btn-print" @onclick='() => Print()' class="btn btn-success float-end m-1">View</button>
				}
				else
				{
					<button type="button" id="btn-print" @onclick='() => Print()' class="btn btn-success float-end m-1">Print</button>
				}
			</div>
		</div>
	</form>
</MacroBody>
