@layout MainLayout

@page "/ScheduleDetails/{ScheduleId}/{ItemCode}/{ParentPage}"
@*@page "/ScheduleDetails"*@

<MacroBreadcrumbs Breadcrumbs=Breadcrumbs></MacroBreadcrumbs>

<div class="row row-cols-12">
	<div class="col">
		<div class="card py-1 pb-0">
			<div class="card-body">
				<div class="row row-cols-1">
					<div class="col-12 col-lg-12">
						@*<a type="button" id="btn-save" onclick="history.back()" class="btn btn-danger m-1">Back</a>*@
						<a type="button" id="btn-save" href="/@(ParentPage)Schedule" class="btn btn-danger m-1">Back</a>
						@*<button type="button" class="btn btn-primary float-end" id="btn-print">Print</button>*@
					</div>
				</div>
			</div>
			<div class="card-body">
				<div class="row row-cols-2">
					<div class="col">
						<label for="txt-status" class="form-label">Payment Status</label>
						<div class="input-group mb-3">
							<input readonly type="text" class="form-control" style="color:white; background-color: @(model.ScheduleDetails.U_PaymentSettlement == "Scheduled" ? "#71DD37" : "#FF3E1D");" name="txt-status" id="txt-status" aria-describedby="status" placeholder="Status" @bind="@model.ScheduleDetails.U_PaymentSettlement">
						</div>
					</div>
					<div class="col">
						<label for="txt-so-date" class="form-label">Sales Order Number</label>
						<div class="input-group mb-3">
							<input readonly type="text" class="form-control" name="txt-so-number" id="txt-so-number" aria-describedby="sonumber" placeholder="Sales Order Number" @bind="@model.ScheduleDetails.DocNum">
						</div>
					</div>
					@if (ParentPage == "Receiving")
					{
						<div class="col">
							<label for="txt-so-date" class="form-label">Receiving Date</label>
							<div class="input-group mb-3">
								<input readonly type="date" class="form-control" name="txt-so-date" id="txt-so-date" aria-describedby="date" placeholder="Date" @bind="@model.ScheduleDetails.U_PickUpDate" @bind:format="yyyy-MM-dd">
							</div>
						</div>
					}
					@if (ParentPage == "Dispatch")
					{
						<div class="col">
							<label for="txt-pickup-date" class="form-label">Dispatch Date</label>
							<div class="input-group mb-3">
								<input readonly type="date" class="form-control" name="txt-pickup-date" id="txt-pickup-date" aria-describedby="pickupdate" placeholder="Dispatch Date" @bind="@model.ScheduleDetails.DeliveryDate" @bind:format="yyyy-MM-dd">
							</div>
						</div>
					}
					<div class="col">
						<label for="txt-so-date" class="form-label">Customer</label>
						<div class="input-group mb-3">
							<input readonly type="text" class="form-control" name="txt-so-customer" id="txt-so-customer" aria-describedby="customer" placeholder="Customer" @bind="@model.ScheduleDetails.CardName">
						</div>
					</div>
					<div class="col">
						<label for="txt-so-date" class="form-label">Item Code</label>
						<div class="input-group mb-3">
							<input readonly type="text" class="form-control" name="txt-so-item-code" id="txt-so-item-code" aria-describedby="itemcode" placeholder="Item Code" @bind="@model.ScheduleDetails.ItemCode">
						</div>
					</div>
					<div class="col">
						<label for="txt-so-date" class="form-label">Item Name</label>
						<div class="input-group mb-3">
							<input readonly type="text" class="form-control" name="txt-so-item-name" id="txt-so-item-name" aria-describedby="itemname" placeholder="Item Name" @bind="@model.ScheduleDetails.ItemName">
						</div>
					</div>
					<div class="col">
						<label for="txt-so-date" class="form-label">Number of Boxes</label>
						<div class="input-group mb-3">
							<input readonly type="text" class="form-control" placeholder="Number of Boxes" @bind="@model.ScheduleDetails.NoOfBoxes">
						</div>
					</div>
					<div class="col">
						<label for="txt-so-date" class="form-label">Number of Pallets</label>
						<div class="input-group mb-3">
							<input readonly type="text" class="form-control" placeholder="Number of Pallets" @bind="@model.ScheduleDetails.NoOfPallets">
						</div>
					</div>
					<div class="col">
						<label for="txt-so-date" class="form-label">Number of Boxes per Pallet</label>
						<div class="input-group mb-3">
							<input readonly type="text" class="form-control" placeholder="Number of Boxes per Pallets" @bind="@model.ScheduleDetails.NoOfBoxesPerPallet">
						</div>
					</div>

					<div class="col">
						<label class="form-label">Location</label>
						<div class="input-group mb-3">
							<input readonly type="text" class="form-control" id="txt-location-irradiation" placeholder="Facility Location" @bind="@model.ScheduleDetails.FacilityLocation.Name">
						</div>
					</div>

					@if (ParentPage == "Receiving")
					{
						<div class="col">
							<label class="form-label">PO No.</label>
							<div class="input-group mb-3">
								<input readonly type="text" class="form-control" @bind="@model.ScheduleDetails.PONo">
							</div>
						</div>

						<div class="col">
							<label class="form-label">Manufacturing Lot No.</label>
							<div class="input-group mb-3">
								<input readonly type="text" class="form-control" @bind="@model.ScheduleDetails.MnfLotNo">
							</div>
						</div>

						<div class="col">
							<label class="form-label">Service Order No.</label>
							<div class="input-group mb-3">
								<input readonly type="text" class="form-control" @bind="@model.ScheduleDetails.SrvcOrdrNo">
							</div>
						</div>
					}
					@if (ParentPage == "Irradiation")
					{
						<div class="col">
							<label for="txt-noofdosimeters" class="form-label">No. Of Dosimeters</label>
							<div class="input-group mb-3">
								@*<input type="text" class="form-control" name="txt-remarks" id="txt-remarks" aria-describedby="remarks" placeholder="Remarks" @bind="@model.ScheduleDetails.Remarks">*@
								<input readonly type="text" class="form-control" name="txt-noofdosimeters" id="txt-noofdosimeters" placeholder="No. Of Dosimeters" @bind="@model.ScheduleDetails.NoOfDosimeters" />
							</div>
						</div>
						<div class="col">
							<label for="txt-irradiationdate" class="form-label">Irradiation Date</label>
							<div class="input-group mb-3">
								<input type="date" class="form-control" name="txt-irradiationdate" id="txt-irradiationdate" aria-describedby="irradiationdate" placeholder="Irradiation Date" @bind="@model.ScheduleDetails.U_IrridiationDate" @bind:format="yyyy-MM-dd">
							</div>
						</div>
					}
				</div>
				@if (ParentPage == "Irradiation")
				{
					<div class="row row-cols-2">
						<div class="col">
							<label class="form-label">Start Time</label>
							<div class="input-group mb-3">
								<input type="Time" class="form-control" id="txt-start-irradiation" placeholder="Start Time" @bind="@model.ScheduleDetails.U_IrridiationStart" @bind:format="HH:mm">
							</div>
						</div>
						<div class="col">
							<label class="form-label">End Time</label>
							<div class="input-group mb-3">
								<input type="Time" class="form-control" id="txt-end-irradiation" placeholder="End Time" @bind="@model.ScheduleDetails.U_IrridiationEnd" @bind:format="HH:mm" disabled>
							</div>
						</div>
						<div class="col">
							<label class="form-label">Duration</label>
							<div class="input-group mb-3">
								<input type="Time" class="form-control" id="txt-duration-irradiation" placeholder="Duration" @bind="@model.ScheduleDetails.Duration">
							</div>
						</div>
						<div class="col">
							<label for="txt-remarks" class="form-label">Remarks</label>
							<div class="input-group mb-3">
								@*<input type="text" class="form-control" name="txt-remarks" id="txt-remarks" aria-describedby="remarks" placeholder="Remarks" @bind="@model.ScheduleDetails.Remarks">*@
								<textarea class="form-control" name="txt-remarks" id="txt-remarks" aria-describedby="remarks" placeholder="Remarks" @bind="@model.ScheduleDetails.Remarks" />
							</div>
						</div>
					</div>
				}
			</div>

			<div class="card-body">
				<div class="row row-cols-1">
					<RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false" FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="5" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
									Data=model.ItemList TItem="ScheduleViewModel.Items" CellRender="@CellRender" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or">
						<EmptyTemplate>
							<p style="color: lightgrey; font-size: 24px; text-align: center; margin: 2rem;">No records to display.</p>
						</EmptyTemplate>
						<Columns>
							<RadzenDataGridColumn TItem="ScheduleViewModel.Items" Property="BoxBatch" Title="Box Batch" Width="200px" />
							<RadzenDataGridColumn TItem="ScheduleViewModel.Items" Property="PalletNumber" Title="Pallet Number" Width="200px" />
							@if (ParentPage == "Irradiation")
							{
								@* Hide Status in column - 08/07/2024 *@
								<RadzenDataGridColumn TItem="ScheduleViewModel.Items" Property="Status" Visible="false" TextAlign="TextAlign.Center" Title="Status" Width="75px"> 
									<Template Context="data">
										@if (data.Status == "Tentative" || data.Status == "Scheduled")
										{
											<span style='color: white'>@data.Status</span>
										}
									</Template>
								</RadzenDataGridColumn>
							}
						</Columns>
					</RadzenDataGrid>
				</div>
			</div>

			@if (ParentPage == "Irradiation")
			{
				<div class="card-body">
					<div class="row row-cols-1">
						<div class="col-12 order-4">
							<button type="button" class="btn btn-primary float-end m-1" @onclick="PatchSchedule">Update</button>
						</div>
					</div>
				</div>
			}
		</div>
	</div>
</div>
