@using Application.BlazorServer.Controls.UI_Macros
@layout MainLayout
@page "/UserAuthorization"

<PageTitle>User Authorization</PageTitle>
<h3>User Authorization</h3>
<div class="row">
    <div class="col">
        <div class="nav-align-top mb-4">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <button type="button"
                            class="nav-link active"
                            role="tab"
                            data-bs-toggle="tab"
                            data-bs-target="#navs-top-home"
                            aria-controls="navs-top-home"
                            aria-selected="true">
                        User
                    </button>
                </li>
                <li class="nav-item">
                    <button type="button"
                            class="nav-link"
                            role="tab"
                            data-bs-toggle="tab"
                            data-bs-target="#navs-top-profile"
                            aria-controls="navs-top-profile"
                            aria-selected="false">
                        Position
                    </button>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="navs-top-home" role="tabpanel">
                    
                    <div class="row">
                        <div class="col-4">

                            <RadzenListBox AllowClear="true"
                                           @bind-Value="selectedUserID"
                                           AllowFiltering="true"
                                           Data="@userTable"
                                           TextProperty="UserName"
                                           ValueProperty="UserId"
                                           class="w-100 h-100"
                                           InputAttributes="@(new Dictionary<string, object>() { { "aria-label", "select user" } })" />
                           
                        </div>
                        <div class="col">
                            @if (selectedUserID == null)
                            {
                                <h4>Please Select a User</h4>
                            }
                            else
                            {
                                <h4>Selected User ID:</h4>
                                <p>@selectedUserID</p>
                            }
                        </div>
                    </div>


                </div>



                <div class="tab-pane fade" id="navs-top-profile" role="tabpanel">
                    
                    <div class="row">
                        <div class="col-4">

                            <RadzenListBox AllowClear="true"
                                           @bind-Value="selectedPositionID"
                                           AllowFiltering="true"
                                           Data="@positionTable"
                                           TextProperty="PositionName"
                                           ValueProperty="PosManageID"
                                           class="w-100 h-100"
                                           InputAttributes="@(new Dictionary<string, object>() { { "aria-label", "select position" } })" />
                          
                        </div>
                        <div class="col">

                            @if (selectedPositionID == null)
                            {
                                <h4>Please Select a Position</h4>
                            }
                            else
                            {
                                <h4>Selected Position ID:</h4>
                                <p>@selectedPositionID</p>
                            }
                            
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
<!-- Tabs -->